In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, DatetimeIndex

import pandas_datareader as pdr

import matplotlib.pyplot as plt
import seaborn as sns


from datetime import datetime

In [2]:
start=datetime(2015,9,20)
alibaba=pdr.get_data_yahoo('BABA',start=start)
amazon=pdr.get_data_yahoo('AMZN',start=start)

google=pdr.get_data_yahoo('GOOG',start=start)
microsoft=pdr.get_data_yahoo('MSFT',start=start)
facebook=pdr.get_data_yahoo('FB',start=start)


alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-09-21  66.400002  62.959999  65.379997  63.900002  22355100  63.900002
2015-09-22  63.270000  61.580002  62.939999  61.900002  14897900  61.900002
2015-09-23  62.299999  59.680000  61.959999  60.000000  22684600  60.000000
2015-09-24  60.340000  58.209999  59.419998  59.919998  20645700  59.919998
2015-09-25  60.840000  58.919998  60.630001  59.240002  17009100  59.240002

In [3]:
alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-09-21  66.400002  62.959999  65.379997  63.900002  22355100  63.900002
2015-09-22  63.270000  61.580002  62.939999  61.900002  14897900  61.900002
2015-09-23  62.299999  59.680000  61.959999  60.000000  22684600  60.000000
2015-09-24  60.340000  58.209999  59.419998  59.919998  20645700  59.919998
2015-09-25  60.840000  58.919998  60.630001  59.240002  17009100  59.240002

In [4]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000

In [5]:
alibaba.to_csv('./data/BABA.csv')

FileNotFoundError: [Errno 2] No such file or directory: './data/BABA.csv'

In [ ]:
google.head()

In [ ]:
microsoft.head()

In [ ]:
amazon.head()

In [ ]:
amazon.to_csv('./OpenSesame/data/AMZN.csv')
alibaba.to_csv('./OpenSesame/data/BABA.csv')
microsoft.to_csv('./OpenSesame/data/MSFT.csv')
google.to_csv('./OpenSesame/data/AMZN.csv')
facebook.to_csv('./OpenSesame/data/FB.csv')

In [ ]:
apple=pdr.get_data_yahoo('AAPL',start=start)
apple.head()

In [ ]:
apple.to_csv('./OpenSesame/data/AAPL.csv')

In [ ]:
alibaba['']

In [6]:
rng=pd.date_range('2016-07-01',periods=10,freq='3D')

time=pd.Series(np.random.randn(20),index=pd.date_range(datetime(2016,1,1),periods=20))

In [7]:
time.truncate(before='2016-1-10')

2016-01-10    0.943794
2016-01-11   -0.895935
2016-01-12    1.396864
2016-01-13   -0.193500
2016-01-14    1.321954
2016-01-15   -1.519586
2016-01-16    0.244518
2016-01-17    0.927106
2016-01-18    0.066415
2016-01-19   -0.398568
2016-01-20   -0.302974
Freq: D, dtype: float64

In [8]:
time.truncate(after='2016-1-10')

2016-01-01   -1.014329
2016-01-02   -0.918155
2016-01-03    0.503914
2016-01-04    1.370703
2016-01-05    0.939695
2016-01-06    0.622939
2016-01-07    0.909614
2016-01-08    0.293327
2016-01-09   -0.359048
2016-01-10    0.943794
Freq: D, dtype: float64

In [9]:
data=pd.date_range('2010-01-01','2011-01-01',freq='M')
print(data)

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31'],
              dtype='datetime64[ns]', freq='M')

In [11]:
DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30','2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31','2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31'], dtype='datetime64[ns]', freq='M')

NameError: name 'DatetimeIndex' is not defined