In [16]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

import pandas_datareader as pdr

import matplotlib.pyplot as plt
import seaborn as sns


from datetime import datetime

In [17]:
start=datetime(2015,9,20)
alibaba=pdr.get_data_yahoo('BABA',start=start)
amazon=pdr.get_data_yahoo('AMZN',start=start)
# apple=pdr.get_data_yahoo('APPL',start=start)
google=pdr.get_data_yahoo('GOOG',start=start)
microsoft=pdr.get_data_yahoo('MSFT',start=start)
facebook=pdr.get_data_yahoo('FB',start=start)


alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-09-21  66.400002  62.959999  65.379997  63.900002  22355100  63.900002
2015-09-22  63.270000  61.580002  62.939999  61.900002  14897900  61.900002
2015-09-23  62.299999  59.680000  61.959999  60.000000  22684600  60.000000
2015-09-24  60.340000  58.209999  59.419998  59.919998  20645700  59.919998
2015-09-25  60.840000  58.919998  60.630001  59.240002  17009100  59.240002

In [ ]:
alibaba.head()

In [ ]:
amazon.head()

In [21]:
alibaba.to_csv('./data/BABA.csv')

FileNotFoundError: [Errno 2] No such file or directory: './data/BABA.csv'

In [18]:
google.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-09-21,636.489990,625.940002,634.400024,635.440002,1788500,635.440002
2015-09-22,627.549988,615.429993,627.000000,622.690002,2562900,622.690002
2015-09-23,628.929993,620.000000,622.049988,622.359985,1470900,622.359985
2015-09-24,627.320007,612.400024,616.640015,625.799988,2240100,625.799988
2015-09-25,629.770020,611.000000,629.770020,611.969971,2174000,611.969971

In [20]:
microsoft.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-09-21  44.470001  43.599998  43.619999  44.110001  26177200.0  40.543335
2015-09-22  44.049999  43.310001  43.380001  43.900002  28085900.0  40.350307
2015-09-23  44.169998  43.509998  43.930000  43.869999  17145200.0  40.322735
2015-09-24  44.130001  43.270000  43.450001  43.910000  27905600.0  40.359509
2015-09-25  44.730000  43.759998  44.480000  43.939999  29384600.0  40.387074

In [28]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000

In [31]:
amazon.to_csv('./OpenSesame/data/AMZN.csv')
alibaba.to_csv('./OpenSesame/data/BABA.csv')
microsoft.to_csv('./OpenSesame/data/MSFT.csv')
google.to_csv('./OpenSesame/data/AMZN.csv')
facebook.to_csv('./OpenSesame/data/FB.csv')

In [26]:
import os
path1=os.path.abspath('.')
print(path1)

F:\JupyterProject