In [24]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, DatetimeIndex

import pandas_datareader as pdr

import matplotlib.pyplot as plt
import seaborn as sns


from datetime import datetime

In [25]:
start=datetime(2015,9,20)
alibaba=pdr.get_data_yahoo('BABA',start=start)
amazon=pdr.get_data_yahoo('AMZN',start=start)
apple=pdr.get_data_yahoo('AAPL',start=start)
google=pdr.get_data_yahoo('GOOG',start=start)
microsoft=pdr.get_data_yahoo('MSFT',start=start)
facebook=pdr.get_data_yahoo('FB',start=start)


#add a column of 'high-low' to every company's data
alibaba['high-low']=alibaba['High']-alibaba['Low']
google['high-low']=google['High']-google['Low']
amazon['high-low']=amazon['High']-amazon['Low']
apple['high-low']=apple['High']-apple['Low']
microsoft['high-low']=microsoft['High']-microsoft['Low']
facebook['high-low']=facebook['High']-facebook['Low']

In [26]:
alibaba.head()
apple.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,115.370003,113.660004,113.669998,115.209999,50222000.0,107.201698,1.709999
2015-09-22,114.180000,112.519997,113.379997,113.400002,50346200.0,105.517509,1.660004
2015-09-23,114.720001,113.300003,113.629997,114.320000,35756700.0,106.373558,1.419998
2015-09-24,115.500000,112.370003,113.250000,115.000000,50219500.0,107.006294,3.129997
2015-09-25,116.690002,114.019997,116.440002,114.709999,56151900.0,106.736458,2.670006

In [27]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015,10.190002
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024,10.890015
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007,7.210022
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000,11.690002
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000,21.399963

In [29]:
google.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,636.489990,625.940002,634.400024,635.440002,1788500,635.440002,10.549988
2015-09-22,627.549988,615.429993,627.000000,622.690002,2562900,622.690002,12.119995
2015-09-23,628.929993,620.000000,622.049988,622.359985,1470900,622.359985,8.929993
2015-09-24,627.320007,612.400024,616.640015,625.799988,2240100,625.799988,14.919983
2015-09-25,629.770020,611.000000,629.770020,611.969971,2174000,611.969971,18.770020

In [30]:
microsoft.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,44.470001,43.599998,43.619999,44.110001,26177200.0,40.543335,0.870003
2015-09-22,44.049999,43.310001,43.380001,43.900002,28085900.0,40.350307,0.739998
2015-09-23,44.169998,43.509998,43.930000,43.869999,17145200.0,40.322735,0.660000
2015-09-24,44.130001,43.270000,43.450001,43.910000,27905600.0,40.359509,0.860001
2015-09-25,44.730000,43.759998,44.480000,43.939999,29384600.0,40.387074,0.970001

In [31]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015,10.190002
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024,10.890015
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007,7.210022
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000,11.690002
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000,21.399963

In [32]:
amazon.to_csv('./OpenSesame/data/AMZN.csv')
alibaba.to_csv('./OpenSesame/data/BABA.csv')
microsoft.to_csv('./OpenSesame/data/MSFT.csv')
google.to_csv('./OpenSesame/data/AMZN.csv')
facebook.to_csv('./OpenSesame/data/FB.csv')
apple.to_csv('./openSesame/data/AAPL.csv')

In [38]:
# Scrape history data for other company for clustering
alibaba.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,66.400002,62.959999,65.379997,63.900002,22355100,63.900002,3.440002
2015-09-22,63.270000,61.580002,62.939999,61.900002,14897900,61.900002,1.689999
2015-09-23,62.299999,59.680000,61.959999,60.000000,22684600,60.000000,2.619999
2015-09-24,60.340000,58.209999,59.419998,59.919998,20645700,59.919998,2.130001
2015-09-25,60.840000,58.919998,60.630001,59.240002,17009100,59.240002,1.920002

In [44]:
alibaba.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close', 'high-low'], dtype='object')

In [45]:
ali=pd.read_csv('./OpenSesame/data/BABA.csv')
ali.head()

,Date,High,Low,Open,Close,Volume,Adj Close,high-low
0,2015-09-21,66.400002,62.959999,65.379997,63.900002,22355100,63.900002,3.440002
1,2015-09-22,63.270000,61.580002,62.939999,61.900002,14897900,61.900002,1.689999
2,2015-09-23,62.299999,59.680000,61.959999,60.000000,22684600,60.000000,2.619999
3,2015-09-24,60.340000,58.209999,59.419998,59.919998,20645700,59.919998,2.130001
4,2015-09-25,60.840000,58.919998,60.630001,59.240002,17009100,59.240002,1.920002

In [50]:
print(ali.loc[0:0])

         Date       High        Low       Open      Close    Volume  \
0  2015-09-21  66.400002  62.959999  65.379997  63.900002  22355100

   Adj Close  high-low
0  63.900002  3.440002

In [51]:
ali['Date']

0       2015-09-21
1       2015-09-22
2       2015-09-23
3       2015-09-24
4       2015-09-25
           ...
1044    2019-11-12
1045    2019-11-13
1046    2019-11-14
1047    2019-11-15
1048    2019-11-18
Name: Date, Length: 1049, dtype: object

In [54]:
col=['Date','Open','Close']
ali_his=ali[col]
print(ali_his)

            Date        Open       Close
0     2015-09-21   65.379997   63.900002
1     2015-09-22   62.939999   61.900002
2     2015-09-23   61.959999   60.000000
3     2015-09-24   59.419998   59.919998
4     2015-09-25   60.630001   59.240002
...          ...         ...         ...
1044  2019-11-12  185.910004  186.970001
1045  2019-11-13  185.470001  182.479996
1046  2019-11-14  182.869995  182.800003
1047  2019-11-15  184.000000  185.490005
1048  2019-11-18  186.979996  184.610001

[1049 rows x 3 columns]

In [58]:
ali_his.columns=['date','open','close']
print(ali_his)

            date        open       close
0     2015-09-21   65.379997   63.900002
1     2015-09-22   62.939999   61.900002
2     2015-09-23   61.959999   60.000000
3     2015-09-24   59.419998   59.919998
4     2015-09-25   60.630001   59.240002
...          ...         ...         ...
1044  2019-11-12  185.910004  186.970001
1045  2019-11-13  185.470001  182.479996
1046  2019-11-14  182.869995  182.800003
1047  2019-11-15  184.000000  185.490005
1048  2019-11-18  186.979996  184.610001

[1049 rows x 3 columns]

In [59]:
ali_his.to_csv('./openSesame/data/BABA.csv')

In [60]:
ali=pd.read_csv('./OpenSesame/data/BABA.csv')
ali.head()

        date       open      close
0  2015/9/21  65.379997  63.900002
1  2015/9/22  62.939999  61.900002
2  2015/9/23  61.959999  60.000000
3  2015/9/24  59.419998  59.919998
4  2015/9/25  60.630001  59.240002

In [64]:
date=datetime.strptime(ali['date'],"%Y-%m-%d")
print(date)
ali['date']=datetime.strftime("%Y-%m-%d",date)

TypeError: strptime() argument 1 must be str, not Series