In [24]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, DatetimeIndex

import pandas_datareader as pdr

import matplotlib.pyplot as plt
import seaborn as sns


from datetime import datetime

In [25]:
start=datetime(2015,9,20)
alibaba=pdr.get_data_yahoo('BABA',start=start)
amazon=pdr.get_data_yahoo('AMZN',start=start)
apple=pdr.get_data_yahoo('AAPL',start=start)
google=pdr.get_data_yahoo('GOOG',start=start)
microsoft=pdr.get_data_yahoo('MSFT',start=start)
facebook=pdr.get_data_yahoo('FB',start=start)


#add a column of 'high-low' to every company's data
alibaba['high-low']=alibaba['High']-alibaba['Low']
google['high-low']=google['High']-google['Low']
amazon['high-low']=amazon['High']-amazon['Low']
apple['high-low']=apple['High']-apple['Low']
microsoft['high-low']=microsoft['High']-microsoft['Low']
facebook['high-low']=facebook['High']-facebook['Low']

In [26]:
alibaba.head()
apple.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,115.370003,113.660004,113.669998,115.209999,50222000.0,107.201698,1.709999
2015-09-22,114.180000,112.519997,113.379997,113.400002,50346200.0,105.517509,1.660004
2015-09-23,114.720001,113.300003,113.629997,114.320000,35756700.0,106.373558,1.419998
2015-09-24,115.500000,112.370003,113.250000,115.000000,50219500.0,107.006294,3.129997
2015-09-25,116.690002,114.019997,116.440002,114.709999,56151900.0,106.736458,2.670006

In [27]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015,10.190002
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024,10.890015
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007,7.210022
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000,11.690002
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000,21.399963

In [29]:
google.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,636.489990,625.940002,634.400024,635.440002,1788500,635.440002,10.549988
2015-09-22,627.549988,615.429993,627.000000,622.690002,2562900,622.690002,12.119995
2015-09-23,628.929993,620.000000,622.049988,622.359985,1470900,622.359985,8.929993
2015-09-24,627.320007,612.400024,616.640015,625.799988,2240100,625.799988,14.919983
2015-09-25,629.770020,611.000000,629.770020,611.969971,2174000,611.969971,18.770020

In [30]:
microsoft.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,44.470001,43.599998,43.619999,44.110001,26177200.0,40.543335,0.870003
2015-09-22,44.049999,43.310001,43.380001,43.900002,28085900.0,40.350307,0.739998
2015-09-23,44.169998,43.509998,43.930000,43.869999,17145200.0,40.322735,0.660000
2015-09-24,44.130001,43.270000,43.450001,43.910000,27905600.0,40.359509,0.860001
2015-09-25,44.730000,43.759998,44.480000,43.939999,29384600.0,40.387074,0.970001

In [31]:
amazon.head()

,High,Low,Open,Close,Volume,Adj Close,high-low
Date,,,,,,,
2015-09-21,549.780029,539.590027,544.330017,548.390015,3283300,548.390015,10.190002
2015-09-22,543.549988,532.659973,539.710022,538.400024,3841700,538.400024,10.890015
2015-09-23,541.210022,534.000000,538.299988,536.070007,2237600,536.070007,7.210022
2015-09-24,534.559998,522.869995,530.549988,533.750000,3501000,533.750000,11.690002
2015-09-25,542.799988,521.400024,542.570007,524.250000,4031000,524.250000,21.399963

In [32]:
amazon.to_csv('./OpenSesame/data/AMZN.csv')
alibaba.to_csv('./OpenSesame/data/BABA.csv')
microsoft.to_csv('./OpenSesame/data/MSFT.csv')
google.to_csv('./OpenSesame/data/AMZN.csv')
facebook.to_csv('./OpenSesame/data/FB.csv')
apple.to_csv('./openSesame/data/AAPL.csv')